body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.header {
  min-height: 7vh;
}

.headerLink {
  cursor: pointer;
}

/* AUTHENTICATION */

.authTitle{
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3300c0;
  font-family: Helvetica, sans-serif;
}

.authContainer{
  background-color: #f0ebfc;
  min-height: 93vh;
}

.authInput:focus{
  border-color: #4200FF !important;
  box-shadow: 0 0 0 0.25rem #4400ff52 !important;
}

#authButton {
  background-color: #4200FF;
}

.authButton {
  background-color: #4200FF !important;
  border: none !important;
  width: 10rem;
}

#authButton:hover{
  background-color: #3300c0;
}

.authButton:hover{
  background-color: #3300c0 !important;
}

.authText {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authLink {
  color: #0011ff;
  cursor: pointer;
  margin-top: -0.5rem;
}

.authLink:hover{
  text-decoration: underline;
}

.errorInput {
  color: red;
}

/* PROFILE */

.profileRow {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  min-height: 60vh;
}

.profileRow > * {
  font-size: large;
}