@import url(https://fonts.googleapis.com/css?family=Archivo+Black:regular);

@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular);

body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* GENERAL */

.header {
  min-height: 7vh;
}

.headerLink {
  cursor: pointer;
}

.lifterButton {
  background-color: #db0000 !important;
  border: none !important;
  width: 10rem;
  font-family: Rubik Mono One !important;
  border: 1px solid #db0000 !important;
  border-radius: 0 !important;
  scale: 120%;
}

.lifterButton:hover {
  background-color: #ffffff !important;
  color: #db0000 !important;
  box-shadow: 7px 5px 0px 0px rgba(219, 0, 0, 1) !important;
}

.lifterContainer {
  background-color: #f3ecec;
  min-height: 93vh;
}

.lifterTitle {
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #db0000;
  font-family: Rubik Mono One;
}

.lifterText {
  font-size: 1.5rem;
  font-weight: bold;
  color: #db0000;
  font-family: Rubik Mono One;
}

.lifterDownText {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

.blackText {
  color: #0f0f0f;
}

.lifterLink {
  color: #db0000;
  cursor: pointer;
  font-family: Rubik Mono One;
}

.lifterLink:hover {
  text-decoration: underline;
}

.whiteText {
  color: white;
}

.lifterInput {
  border-radius: 0 !important;
}

.lifterInput:focus {
  box-shadow: 7px 5px 0px 0px rgba(219, 0, 0, 1) !important;
}

.narrow {
  max-width:min-content;
}

.narrowInput{
  max-width: 3rem;
  max-height: 3rem;
}

.lifterCard {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #db0000;
  border-radius: 0;
  cursor: pointer;
}

.lifterCard:hover {
  box-shadow: 7px 5px 0px 0px rgba(219, 0, 0, 1);
}

.noPointer {
cursor:default;
}

.modal-backdrop.show {
    opacity: 20% !important;
}

/* AUTHENTICATION */

.authInput:focus {
  border-color: #db000075 !important;
  box-shadow: 0 0 0 0.25rem #db000075 !important;
}

.authText {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorInput {
  color: red;
  margin-top: 0.2rem;
}

/* LANDING */

.landingContainer {
  background-image: url(../src/assets/hero-image.jpg);
  background-size: cover;
  min-height: 93vh;
  padding-top: 6rem;
}

.heroText {
  font-size: 10rem;
  font-family: Rubik Mono One;
  color: white;
  text-shadow: -4px 4px 0px #0f0f0fc2;
}

@media (max-width: 512px) {
  .heroText {
    font-size: 4rem;
  }
}

.padding {
  padding: 1rem 0;
}

.landingText {
  font-size: 3.5rem;
  font-family: Rubik Mono One;
  color: white;
  text-shadow: -4px 4px 0px #0f0f0fc2;
}

@media (max-width: 512px) {
  .landingText {
    font-size: 1.25rem;
  }
}

#landingButton {
  border-radius: 0;
  background-color: #db0000;
  border: 1px solid #db0000;
  scale: 120%;
  font-family: Rubik Mono One;
}

#landingButton:hover {
  background-color: white;
  color: #db0000;
}

/* EXERCISES */

.exercisesText {
  font-size: 1rem;
  font-weight: bold;
  color: #db0000;
  font-family: Rubik Mono One;
}

.resultsText {
  font-weight: bold;
  color: #0f0f0f;
}



/* EXERCISE DETAIL */

.detailCard {
  border: 1px solid #db0000;
  border-radius: 0;
  padding: 0.5rem;
  box-shadow: 7px 5px 0px 0px rgba(219, 0, 0, 1);
  margin: 0 0.5rem;
}

.detailDescription {
  text-align: justify;
}

.detailImage {
  max-width: 500px;
  max-height: 500px;
}

@media (max-width: 512px) {
  .detailImage {
    max-width: 100vw;
  }
}

.detailButton {
  width: 100%;
}

/* ROUTINE DETAIL */

.setRow {
  justify-content: space-between;
}

.mobileButton {
  border: 1px solid #db0000 !important;
  background-color: #db0000 !important;
  color: #ffffff !important;

  font-family: Rubik Mono One !important;
  border-radius: 0 !important;
}

.mobileButton:hover {
  background-color: #fff !important;
  color: #db0000 !important;
  box-shadow: 7px 5px 0px 0px #db0000 !important;
}

@media (max-width: 512px) {
  .setRow {
    justify-content: center;
  }
  .setColumn {
    display: flex;
    justify-content: center;
  }

  .mobileButton {
    border: none !important;
    background-color: #ffffff !important;
    color: #db0000 !important;
    font-family: Rubik Mono One !important;
    border-radius: 0 !important;
  }

  .mobileButton:hover {
    background-color: #db0000 !important;
    color: #ffffff !important;
    box-shadow: 6px 4px 0px 0px rgb(255, 255, 255), 8px 6px 0px 0px #db0000 !important;
  }
}

.pagination{
  list-style: none;
}

.page{
  border: 1px solid #db0000;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  background-color: #db0000;
  color: #fff;
  font-family: Rubik Mono One;
  cursor: pointer;
  scale: 80%
}

.page:hover{
  background-color: #fff;
  color: #db0000;
  box-shadow: 7px 5px 0px 0px #db0000;
  scale: 100%
}